.offer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  overflow: hidden;
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
}
