<div class="board-container">
  <h1>Interviews Scheduler</h1>
  {{ showDialog() }}
  <div class="kanban-wrapper" cdkDropListGroup>
    @for (column of columns(); track column.id) {
    <div class="column">
      <div class="column-header" [class]="'header-' + column.id">
        <span>{{ column.title }}</span>
        <span class="badge">{{ column?.items?.length }}</span>
      </div>

      <div
        class="task-list"
        cdkDropList
        [cdkDropListData]="column.items"
        (cdkDropListDropped)="onDrop($event)"
      >
        @for (task of column?.items; track task.id) {
        <div class="drag-item-wrapper" cdkDrag [cdkDragData]="task">
          <div *cdkDragPlaceholder class="custom-placeholder"></div>
          <app-kanban-item [item]="task" (click)="openDetails()"></app-kanban-item>
        </div>
        }
      </div>

      <div class="add-task-area">
        <input
          #taskInput
          type="text"
          placeholder="+ Dodaj kartę..."
          (keyup.enter)="addTask(column.id, taskInput)"
        />
        <button (click)="addTask(column.id, taskInput)">Add</button>
      </div>
    </div>
    }
  </div>
</div>
<app-kanban-item-details [(show)]="showDialog" (onSave)="onSave($event)"></app-kanban-item-details>
